In [43]:
import pandas as pd

In [44]:
df=pd.read_csv("titanic_train.csv")
df_test=pd.read_csv("titanic_test.csv")

In [45]:
import pandas as pd

In [46]:
df = pd.read_csv("titanic_train.csv")
df_test = pd.read_csv("titanic_test.csv")

In [47]:
print(df.shape)

(891, 12)

In [48]:
print(df_test.shape)

(418, 11)

In [49]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [50]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [52]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [53]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [54]:
def get_title(name):
  if '.' in name:
    return name.split(',')[1].split('.')[0].strip()
  else:
    return 'Unknown'

titles=sorted(set([x for x in df.Name.map(lambda x: get_title(x))]))
print(len(titles), ':', titles)

17 : ['Capt', 'Col', 'Don', 'Dr', 'Jonkheer', 'Lady', 'Major', 'Master', 'Miss', 'Mlle', 'Mme', 'Mr', 'Mrs', 'Ms', 'Rev', 'Sir', 'the Countess']

In [55]:
def shorter_title(x):
    title=x["Title"]
    if title in ['Capt', 'Col', 'Major']:
        return 'Officer'
    elif title in ['Jonkheer', 'Don', 'the Countess', 'Dona', 'Lady', 'Sir']:
        return 'Royalty'
    elif title in ['Lady', 'Mrs', 'the Countess', 'Mme']:
        return 'Mrs'
    elif title in ['Mlle', 'Ms']:
      return 'Miss'
    else: 
        return title

In [56]:
df["Title"]=df["Name"].map(lambda x: get_title(x))

df['Title']=df.apply(shorter_title, axis=1)
print(df.Title.value_counts())

Mr         517
Miss       185
Mrs        126
Master      40
Dr           7
Rev          6
Royalty      5
Officer      5
Name: Title, dtype: int64

In [57]:
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Fare'].fillna(df['Fare'].median(), inplace=True)
df['Embarked'].fillna('S', inplace=True)
df.drop('Cabin', axis=1, inplace=True)
df.drop('Ticket', axis=1, inplace=True)
df.drop('Name', axis=1, inplace=True)
df.Sex.replace(('male','female'),(0,1), inplace=True)
df.Embarked.replace(('S','C','Q'),(0,1,2), inplace=True)
df.Title.replace(('Mr','Miss','Mrs','Master','Dr','Rev','Officer','Royalty'),(0,1,2,3,4,5,6,7), inplace=True)


print(df.isnull().sum())
print(df['Sex'].sample(5))
print(df['Embarked'].sample(5))
print(df.columns)

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
Title          0
dtype: int64
306    1
183    0
684    0
411    0
847    0
Name: Sex, dtype: int64
217    0
45     0
226    0
595    0
470    0
Name: Embarked, dtype: int64
Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Embarked', 'Title'],
      dtype='object')

In [58]:
corr=df.corr()
corr.Survived.sort_values(ascending=False)

Survived       1.000000
Sex            0.543351
Title          0.361340
Fare           0.257307
Embarked       0.106811
Parch          0.081629
PassengerId   -0.005007
SibSp         -0.035322
Age           -0.064910
Pclass        -0.338481
Name: Survived, dtype: float64

In [59]:
from sklearn.model_selection import train_test_split

predictors=df.drop(['Survived','PassengerId'], axis=1)
target=df['Survived']
x_train,x_val,y_train,y_val = train_test_split(predictors, target, test_size=0.1, random_state=0)

In [60]:
import pickle
from sklearn.ensemble import RandomForestClassifier 
from sklearn.metrics import accuracy_score

In [61]:
randomforest = RandomForestClassifier()
randomforest.fit(x_train, y_train)
y_pred=randomforest.predict(x_val)
acc_randomforest=round(accuracy_score(y_pred, y_val)*100, 2)
print(acc_randomforest)

pickle.dump(randomforest, open('Titanic_RandomForestModel.sav','wb'))

82.22

In [64]:
# Predictions for the test dataset

df_test_test = pd.read_csv('titanic_test.csv')

df_test["Title"]=df_test["Name"].map(lambda x: get_title(x))

df_test['Title']=df_test.apply(shorter_title, axis=1)
ids=df_test['PassengerId']

df_test['Age'].fillna(df_test['Age'].median(), inplace=True)
df_test['Fare'].fillna(df_test['Fare'].median(), inplace=True)
df_test['Embarked'].fillna('S', inplace=True)
df_test.drop('Cabin', axis=1, inplace=True)
df_test.drop('Ticket', axis=1, inplace=True)
df_test.drop('Name', axis=1, inplace=True)
df_test.drop('PassengerId', axis=1, inplace=True)
df_test.Sex.replace(('male','female'),(0,1), inplace=True)
df_test.Embarked.replace(('S','C','Q'),(0,1,2), inplace=True)
df_test.Title.replace(('Mr','Miss','Mrs','Master','Dr','Rev','Officer','Royalty'),(0,1,2,3,4,5,6,7), inplace=True)

In [65]:
predictions = randomforest.predict(df_test)
output=pd.DataFrame({'PassengerId': ids, 'Survived': predictions})
output.to_csv('submission.csv', index=False)

In [66]:
from google.colab import files
files.download('submission.csv')